.align-header{
    display: flex;
    align-items: center;
}
.align-header h2{
    color: #124576;
    padding: 1.3rem;
}

@media screen and (max-width: 992px) {
    .align-header{
        justify-content: center;
     }
}

@media screen and (max-width: 768px) {

}